#rottenTomatoesResults {
		padding: 5px;
		margin-top: 5px;
		clear: both;
		color: #6F6A57;
		border: 1px solid #dddddd;
		border-radius: 10px;
		-moz-box-shadow: 0px 0px 5px #ddd;
		-webkit-box-shadow: 0px 0px 5px #ddd;
		box-shadow: 0px 0px 5px #ddd;
		background-image: -webkit-gradient(
			linear,
			left top,
			left 25,
			color-stop(0.1, rgb(255,227,125)),
			color-stop(0.3, rgb(255,254,215))
		);
		background-image: -moz-linear-gradient(
			center top,
			rgb(255,227,125) 10%,
			rgb(255,254,215) 30%
		);
	}
	#rottenTomatoesResults a, #rottenTomatoesResults a:link, #rottenTomatoesResults a:hover {
		color: #506A16 !important;
		text-decoration: none !important;
	}
	#rottenTomatoesResults a:hover {
		text-decoration: underline !important;
	}
	#rottenTomatoesResults img {
		margin-right: 10px;
	}
	#rottenTomatoesResults div.rtIcon {
		background:url("http://images.rottentomatoescdn.com/images/redesign/icons-v2.png") 0 0;
		float: left;
		width: 48px;
		height: 48px;
	}
	#rottenTomatoesResults div.rtIcon.fresh {
		background-position: 120px 132px;
	}
	#rottenTomatoesResults div.rtIcon.certified {
		background-position: 120px 84px;
	}
	#rottenTomatoesResults div.rtIcon.rotten {
		background-position: 72px 84px;
	}
	#rottenTomatoesResults div.rtIcon.upright {
		background-position: 280px 52px;
		width: 32px;
		height: 32px;
	}
	#rottenTomatoesResults div.rtIcon.spilled {
		background-position: 184px 52px;
		width: 32px;
		height: 32px;
	}
	#rottenTomatoesResults div.rtIcon.wts {
		background-position: 312px 52px;
		width: 32px;
		height: 32px;
	}
	#rottenTomatoesResults .floater {
		float:left;
		padding: 0 3px;
	}
	#rottenTomatoesResults .rt-credits {
		font-size: 11px;
	}
	#rottenTomatoesTomatoMeterScore, #rottenTomatoesAudience {
		color: #506A16;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 40px;
		font-weight: 700;
		font-style: normal;
		width: 48%;
	}
	#rottenTomatoesTomatoMeterScore.noScore {
		font-size: 26px;
	}
	#rottenTomatoesAudience {
		font-size: 30px;
	}
	#rottenTomatoesConsensus {
		clear:both;
		font-size:11px;
		margin-top:10px;
		line-height:1.5em;
		width:98%;
	}
	.rottenClear {
		clear: both;
	}
