#rottenTomatoesResults {
		background-color: #FEF7CD;
		min-height: 1px;
		float: left;
		display: block;
		width: 100%;
		margin-bottom: 10px;
	};

.scorePanel {
	overflow: hidden;
}

.tmeterPanel {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 66.6%;
	border-right: solid #E0D695 1px;
	overflow: hidden;
	float: left;
}

.tomatoLink {
	color: black;
	font-size: 36px;
}

.scoreSpan {
	box-sizing: : border-box;
	font-size: 36px;
	font-weight: bold;
	color: black;
	margin-bottom: 15px;
	margin-left: 10px;
}

.statsPanel {
	display: black;
	font-size: 12px;
	color: black;
	margin-top: 10px;
}

.criticPanel {
	width: 50%;
	float: right;
}

.numberPanel {
	width: 50%;
	float: left;
}

.statsSpan {

}

.tabbedStatsSpan {
	margin-left: 10px;
	padding-bottom: 10px;
}

.consensus {
	margin-bottom: 10px;
}

.audiencePanel {
	width: 33.3%;
	float: right;
	margin-top: 10px;
	padding-left: 10px;
	font-size: 12px;
}

.rtIcon {
	display: inline-block;
	vertical-align: bottom;;
}

.rtIcon.certFresh {
	background: url('https://staticv2-4.rottentomatoes.com/static/images/redesign/icons-v2.png') no-repeat -194px -96px;
	width: 47px;
	height: 48px;
}

.rtIcon.fresh {
	background: url('https://staticv2-4.rottentomatoes.com/static/images/redesign/icons-v2.png') no-repeat -194px -48px;
	width: 48px;
	height: 48px;
}

.rtIcon.rotten {
	background: url('https://staticv2-4.rottentomatoes.com/static/images/redesign/icons-v2.png') no-repeat -241px -97px;
	width: 47px;
	height: 45px;
}

.rtIcon.popcorn {
	background: url('https://staticv2-4.rottentomatoes.com/static/images/redesign/icons-v2.png') no-repeat -246px -48px;
	width: 40px;
	height: 48px;
}

.rtIcon.tipped {
	background: url('https://staticv2-4.rottentomatoes.com/static/images/redesign/icons-v2.png') no-repeat -196px -10px;
	width: 40px;
	height: 35px;
}
